<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--
    <add name="EnovaContext" connectionString="metadata=res://*/DB.Enova.csdl|res://*/DB.Enova.ssdl|res://*/DB.Enova.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLDEV;Initial Catalog=ABAK;Integrated Security=True;Connect Timeout=60&quot;" providerName="System.Data.EntityClient" />
    <add name="WebContext" connectionString="metadata=res://*/DB.Web.Web.csdl|res://*/DB.Web.Web.ssdl|res://*/DB.Web.Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLDEV;Initial Catalog=AbakTools;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AbakTools" connectionString="Data Source=.\SQLDEV;Initial Catalog=AbakTools;Integrated Security=True;MultipleActiveResultSets=True" />
    -->
    <add name="EnovaContext" connectionString="metadata=res://*/DB.Enova.csdl|res://*/DB.Enova.ssdl|res://*/DB.Enova.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=server.pthabak.pl;Initial Catalog=ABAK;User Id=sa;Password=MK024315ws;Connect Timeout=60&quot;" providerName="System.Data.EntityClient" />
    <add name="WebContext" connectionString="metadata=res://*/DB.Web.Web.csdl|res://*/DB.Web.Web.ssdl|res://*/DB.Web.Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=server.pthabak.pl;Initial Catalog=AbakTools;User Id=sa;Password=MK024315ws;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AbakTools" connectionString="Data Source=server.pthabak.pl;Initial Catalog=AbakTools;User Id=sa;Password=MK024315ws;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value="Logging/log4net.config" />
    <add key="UpdatePath" value="Z:\AbakSoft\Updates\EnovaTools" />
    <add key="ServerAddress" value="127.0.0.1" />
    <add key="ServerPort" value="2011" />
    <add key="ServerUserName" value="admin" />
    <add key="ServerPassword" value="mk024315ws" />
    <add key="ServerAutoConnect" value="False" />
    <add key="ServerAutoConnectInterval" value="10" />
    <add key="EnovaPath" value="C:\Soneta\enova365" />
    <add key="EnovaDatabase" value="ABAK" />
    <add key="KosztWysylki" value="12.00" />
    <add key="KodTowaruUslugiTransportu" value="UT" />
    <add key="EnovaFVReport" value="handel\sprzedaz5.aspx" />
    <add key="EnovaFKReport" value="handel\zwrot.aspx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NotAvailableOperators" value="MAG" />
<!--	<add key="err" value="1"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>