<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="enovaPath" value="C:\Program Files (x86)\Soneta\enova 10.9.5732"/>
		<add key="enovaDatabase" value="TEST"/>
		<add key="enovaLogin" value="EnovaTools"/>
		<add key="enovaPassword" value="mk024315ws"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
