<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="EnovaContext" connectionString="metadata=res://*/DB.Enova.csdl|res://*/DB.Enova.ssdl|res://*/DB.Enova.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERWER\SQLEXPRESS;Initial Catalog=ABAK;Integrated Security=True;Connect Timeout=60&quot;" providerName="System.Data.EntityClient"/>
    <add name="D_E_M_O" connectionString="metadata=res://*/DB.Enova.csdl|res://*/DB.Enova.ssdl|res://*/DB.Enova.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERWER\SQLEXPRESS;Initial Catalog=D_E_M_O;Integrated Security=True;Connect Timeout=60&quot;" providerName="System.Data.EntityClient"/>
    <add name="WebContext" connectionString="metadata=res://*/DB.Web.Web.csdl|res://*/DB.Web.Web.ssdl|res://*/DB.Web.Web.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERWER\SQLEXPRESS;Initial Catalog=EnovaWebTools;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="DemoContext" connectionString="metadata=res://*/DB.Demo.Demo.csdl|res://*/DB.Demo.Demo.ssdl|res://*/DB.Demo.Demo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERWER\SQLEXPRESS;initial catalog=D_E_M_O;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
